.SiteNav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000007b;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.SiteNav_ul {
  flex-direction: column;
  justify-content: flex-start !important;
  background-color: black;
  width: 40%;
  height: 100%;
  padding-top: 2em;
  padding: 1em 0;
}
.SiteNav_ul .SiteNav_logo {
  font-size: 1.7em;
  border: none;
  color: #00adf2;
  font-weight: 600;
  text-align: center;
  padding-bottom: 1em;
}

.SiteNav_ul li a {
  text-align: left;
  font-size: 1.5em;
  padding: 0.5em 0.7em;
  display: block;
  border-top: 1px solid #fff;
}

@media (max-width: 530px) {
  .SiteNav_ul {
    width: 80%;
  }
}

#closeHeade {
  display: none;
}
