.footer {
  max-width: 1200px;
  border-top: 1px solid #ced4da;
  font-size: 12px;
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #70737c;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

.footer a {
  color: #70737c;
}
